[2020-03-30 23:25] jaybee84 opened #2 "Finalize abstract by April 15"

[2020-03-30 23:27] jaybee84 opened #3 "Transfer Learning write up"
1. add seminal work references
2. add description

[2020-03-30 23:28] jaybee84 opened #4 "Challenges in data generation and harmonization"
1. add seminal work references
2. add description

[2020-03-30 23:29] jaybee84 opened #5 "Representation Learning write up"
1. add seminal work references
2. add description

[2020-03-30 23:29] jaybee84 opened #6 "Cascade learning writeup"
1. add seminal work references
2. add description

[2020-03-30 23:30] jaybee84 opened #7 "Integrative analysis write up"
1. add seminal work references
2. add description

[2020-03-30 23:31] jaybee84 opened #8 "Knowledge graph creation"
1. add seminal work references
2. add description

[2020-03-30 23:32] jaybee84 opened #9 "Methodological consideration 1: bootstrapping"
1. add seminal work references
2. add description

[2020-03-30 23:33] jaybee84 opened #10 "Methodological consideration 2: regularization methods"
1. add seminal work references
2. add description

[2020-03-30 23:35] jaybee84 opened #11 "Methodological consideration 3: hyperensemble"
1. add seminal work references
2. add description

[2020-03-30 23:41] jaybee84 opened #12 "having trouble with first commit !"

[2020-03-30 23:59] #12 closed

[2020-04-24 16:34] #2 closed

[2020-05-04 16:53] allaway opened #14 "protect master?"
Feel free to close if this doesn't make sense with manubot, but I would have assumed master should be protected, i.e. require a reviewed PR. This doesn't appear to be the case as I just inadvertently pushed to master :)

[2020-05-04 16:58] jaybee84 commented on #14
This definitely makes sense... I thought that was the case already, but maybe I missed something...

[2020-05-04 18:01] jaybee84 commented on #14
done...

also set a draft-branch as default (analogous to "develop" branch in golem) :)

[2020-05-04 18:01] #14 closed

[2020-05-04 18:57] allaway commented on #7
As discussed on call on May 4, let's wait to see how the other methods sections pan out to see whether this section is a component of the other methods, or whether it really needs it's own section, because these might be more "anecdotal" examples.

[2020-05-11 19:05] allaway opened #17 "gh-pages not working"
Ci appears to be working but the html and pdf links are 404ed.

[2020-05-11 19:06] allaway opened #18 "write contribution instructions"
and add to readme:
eg.
small prs against draft-branch

[2020-05-11 19:06] cgreene commented on #17
Is this intended? If not intended, then we need to follow the additional steps listed in the github actions setup instructions.

[2020-05-11 19:10] allaway commented on #17
Not intended, we just discovered it :) Thanks for pointing us in that direction!

[2020-05-11 19:10] cgreene commented on #17
Ahh - I wasn't sure since the repo was private :)

[2020-05-12 20:40] allaway commented on #18
closed by #20

[2020-05-12 20:40] #18 closed

[2020-05-18 19:06] jaybee84 commented on #5
added @jaclyn-taroni since a lot of this will be included in transfer learning :)

[2020-05-18 19:08] jaybee84 opened #23 "Looking back to presubmission"
Machine learning methods for rare diseases

Substantial technological advances have dramatically changed biomedicine by making deep characterization of patient samples routine. These technologies provide a rich portrait of genes, cellular pathways, and cell types involved in complex phenotypes. Machine learning is often a perfect fit for the types of data now being generated, and Nature Methods ro

[2020-05-18 19:19] jaybee84 opened #24 "Box: Can we categorize the various ML approaches?"
Based on @allaway 's observation that it would be helpful to the reader to have an overarching categorization of the approaches so that the rationale for specific approaches can be contextualized readily.

[2020-05-18 20:28] jaybee84 commented on #5
Adding a couple of papers here as a note to explore if we decide to add causal inference :
1. https://papers.nips.cc/paper/7223-causal-effect-inference-with-deep-latent-variable-models.pdf
2. https://arxiv.org/pdf/1802.06310.pdf

[2020-05-19 15:35] allaway commented on #4
There's a lot to possibly talk about here, so let's break this down by data type:

#####Gene expression: assessing heterogeneity
*MDS
*PCA
*tSNE
*UMAP

#####Gene expression: correcting heterogeneity
*batch effect correction methods (regression-based modeling of batch effects - [ComBat](https://doi.org/10.1093/biostatistics/kxj037), [limma](https://doi.org/10.1093/nar/gkv007))
*gene expression hete

[2020-05-19 16:07] allaway opened #27 "Pretty comprehensive methodology summary in rare disease"
How do we differentiate the current perspective piece from this paper?
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6947640/
Includes MultiPLIER!

[2020-05-22 18:00] jaybee84 commented on #17
For our purposes, it seems that the [GH Action artifacts](https://github.com/greenelab/covid19-review/blob/master/INSTRUCTIONS.md#how-can-i-see-my-change) may be sufficient

[Also see here for more context](https://github.com/manubot/rootstock/issues/341)

[2020-05-27 16:47] jaybee84 commented on #27
This is a really interesting paper.. and quite unique in that it has a methods section even though it is a literature review, where they outline the selection and exclusion criteria of the papers they reviewed!

I do see a couple of ways our work can be differentiated from this:
1. Our main focus is on the algorithms, why some methodologies can be applied to rare diseases, and what are some of the

[2020-05-27 17:05] jaybee84 commented on #4
adding this [paper](https://www.pnas.org/content/116/24/11878) for consideration in the high-impact mutation prediction point (along with SIFT and Polyphen) ... seems like a good resource for diseases with multigenic possibilities!

(conflict of interest disclaimer: I may have a soft spot for ensemble RFs :P )

[2020-05-27 19:26] allaway opened #40 "AI and Multi-Omics for Rare Diseases: Challenges, Advances and Perspectives"
@jguinney pointed me towards this review. Definitely worth reading, and considering what our perspective paper will add to the literature vs this!

[2020-05-27 19:50] jaybee84 commented on #40
Is this what you were referring to: https://www.frontiersin.org/research-topics/13783/ai-and-multi-omics-for-rare-diseases-challenges-advances-and-perspectives#overview?

The review google is pointing me to is this: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6947640/  (the one that you mentioned in another issue)

[2020-05-27 19:52] allaway commented on #40
Oops haha. Yes, that is the link!

On Wed, May 27, 2020, 12:50 PM Jineta Banerjee <notifications@github.com>
wrote:

[2020-05-27 19:55] jaybee84 commented on #40
Ah ok! ... That seems to be a new research topic that is inviting submissions for perspectives! so I got confused :)

[2020-05-27 20:06] allaway commented on #40
Yeah, sorry, I wasn't very clear.

I guess my thought is that this is perhaps a more crowded topic than I initially realized, so we'll need to consider the questions they raise when we write our perspective, and think about how these questions overlap with what we are addressing!

[2020-05-27 20:16] jaybee84 commented on #40
That's a good point!
I am copying some of their points here just to serve as a quick reminder for us and maybe we can try to address some of these contexts as we are discussing our respective sections (as applicable).

- The application of AI in RD: how AI can solve/help RD diagnostic?
- AI approaches to solve RDs challenges such as low diagnostic rates, reduced number of patients, geographical di

[2020-05-30 20:25] allaway opened #41 "NOMINATOR Rare tumor therapy matching trial"
Saw this good thread describing this trial presented at ASCO today:
https://twitter.com/jamienholloway/status/1266822612149309441/photo/1

Essentially, it's a trial where they run a sequencing panel on rare tumors, find possible actionable mutations, and match them to a drug if there's an actionable variant. Only half of the tumors have a (possibly) actionable variant, so this approach alone won't

[2020-05-31 20:55] jaybee84 commented on #41
Seems like this is an Australian clinical trial!
found the following related links:
https://www.wehi.edu.au/news/genomic-sequencing-offers-new-hope-rare-cancers
https://www.anzctr.org.au/Trial/Registration/TrialReview.aspx?id=371145
https://www.cart-wheel.org/page/93/nominator-for-rare-cancers

[2020-06-01 04:47] jaybee84 opened #42 "https://www.nature.com/articles/nrg3555"
Can be included in intro

[2020-06-01 18:10] allaway commented on #4
An important thing to acknowledge: batches/processing cores/institutions are often confounded by the biological variables, like tumor type, disease state, etc.

[2020-06-01 18:49] #17 closed

[2020-06-02 20:59] allaway opened #45 "Automatic Detection of Rare Pathologies in Fundus Photographs Using Few-Shot Learning"
https://arxiv.org/pdf/1907.09449.pdf
https://linkinghub.elsevier.com/retrieve/pii/S1361-8415(20)30025-6

Rare "condition" detection in retinal imaging. Not quite rare "disease," but probably has the same constraints.

[2020-06-08 19:09] jaclyn-taroni opened #50 "A running list of definitions"
As we add terms and concepts through pull requests (that are not in scope of #24), we'll use this issue as a running list.

[2020-06-08 19:50] jaybee84 opened #52 "Concrete examples showcasing use of different methodologies highlighted in perspective"
Possible structures:

1. Add specific examples to highlight the use case for each section as the beginning/motivation of each section
eg. example showing decrease in model accuracy due to overfitting (added as motivator for regularization section)

2. Add one unified example (maybe at the end of the introduction) showing different points of failure in applying ML to rare disease data (with pointer

[2020-06-11 19:16] jaybee84 commented on #50
dummy variable
bias
variance

[2020-06-15 23:09] #10 closed

[2020-06-15 23:10] #4 closed

[2020-06-16 20:13] allaway commented on #45
@jaybee84 @jaclyn-taroni Looks like I already filed this as an issue. This is referenced (the preprint) in the heterogeneity section, but should probably change it to the published j med imaging doi.

[2020-06-17 16:25] allaway opened #57 "Compressing gene expression data using multiple latent space dimensionalities learns complementary biological representations"
@jaybee84 made a comment on #44 (that ended up going unaddressed) about whether we could provide some criteria or a rule of thumb for selecting dimensionality reduction methods.

This paper from @cgreene and others seems like it would be relevant to address this idea :)

Compressing gene expression data using multiple latent space dimensionalities learns complementary biological representations
ht

[2020-06-17 16:26] allaway commented on #57
Self assigning this to add it to the heterogeneity section.

[2020-06-17 16:32] allaway commented on #57
My read is that the takeaway recommendation is that trying multiple methods is the safest bet, rather than relying on one method. It's a bit of an assumption on my part that this rule of thumb would apply to all rare disease applications as well, but I think this is a reasonable (and conservative) assumption.

[2020-06-17 20:18] allaway opened #58 "discuss qc as a contributor to heterogeneity"
Discussion with @jaybee84 today we thought it might be an appropriate place to add a discussion about QC as a source of heterogeneity.

[2020-06-18 15:30] allaway opened #62 "master --> main?"
This is a small change, but I am wondering if this will break manubot to switch?

[2020-06-18 17:05] #57 closed, assigned to allaway

[2020-06-18 17:05] #58 closed, assigned to allaway

[2020-06-18 17:10] jaybee84 commented on #62
it will probably break the html/pdf output build.. but that can be fixed from the config file I think...

wondering what else might break :)

[2020-06-18 17:11] cgreene commented on #62
Let's raise this as an issue upstream. They should also address it.

[2020-06-18 17:35] allaway commented on #62
Good point. Happy to do this!

On Thu, Jun 18, 2020 at 10:11 AM Casey Greene <notifications@github.com>
wrote:

[2020-06-18 17:35] allaway commented on #62
Oops, I see that @jaybee84 already did. Thanks!

[2020-06-18 21:16] jaybee84 commented on #62
Master has been changed to "main". Manubot.yaml has been configured to deploy manuscript build from "main" in addition to "draft-branch".

Since our default branch is "draft-branch" the change from master to main should not break anything in our daily PRs.

Please let me know if anything is broken for any of you. :)

[2020-06-18 21:20] jaclyn-taroni commented on #62
Thanks @jaybee84!

[2020-06-18 23:18] #62 closed, assigned to nobody

[2020-06-18 23:46] allaway commented on #62
Thanks!

On Thu, Jun 18, 2020, 4:18 PM Jineta Banerjee <notifications@github.com>
wrote:

[2020-06-22 18:41] jaybee84 opened #68 "Outlook section content"
Drop thoughts here for anything that can be included in the outlook section

[2020-06-22 18:56] jaybee84 commented on #8
https://github.com/callahantiff/PheKnowLator
https://het.io/repurpose/

[2020-06-22 19:30] allaway commented on #8
https://www.biorxiv.org/content/10.1101/2020.04.30.071407v1.full.pdf

[2020-06-22 19:30] allaway commented on #8
https://monarchinitiative.org/

[2020-06-22 19:31] allaway commented on #8
https://elifesciences.org/articles/26726

[2020-06-23 00:02] jaybee84 commented on #68
Trust in machine learning: https://www.aclweb.org/anthology/N16-3020.pdf

[2020-06-23 04:30] allaway commented on #68
We could highlight this area as a yet-untapped opportunity for data generation in tandem with methods development events like DREAM Challenges or hackathon-style events.

[2020-06-29 18:58] jaybee84 commented on #68
Jotting down some thoughts from our last meeting:

This section will focus on the following two areas:
1. Key pitfalls that the new practitioners should keep in mind/beware of while applying ML methods in rare diseases
2. How the major pitfalls in applying ML in rare diseases can be great opportunities for method development/data generation in moving the field forward

[2020-07-13 15:40] jaybee84 commented on #50
bagging
boosting

[2020-07-13 17:13] jaclyn-taroni commented on #5
Upon further consideration, I think a description of representation learning needs to come before what's getting added in #63. This section would cover DeepProfile ([Dincer et al. _bioRxiv._ 2018.](https://doi.org/10.1101/278739)) as one example of feature learning in rare diseases (using a VAE in AML, to be specific).

[2020-07-13 20:07] jaybee84 commented on #5
We discussed this in the meeting today, just adding it here so we can refer back to it. The section will add DeepProfile and also Biobombe to our perspective as an example of representation learning in the context of transfer learning. :)

[2020-07-23 23:59] #9 closed

[2020-07-27 15:07] #6 closed

[2020-07-27 19:09] jaybee84 commented on #68
Adding @allaway's suggestions from today's meeting: highlight the two camps of ml-in-rd: methods used successfully for classification of disease landscape (and identification of rare disease in general, not a particular one) and methods used for mechanistic interrogation for a particular rare disease. While both have few examples, the emphasis so far have been on the former, while there is a great

[2020-07-29 03:10] allaway commented on #8
Closed by 71

[2020-07-29 03:10] #8 closed

[2020-08-04 14:39] jaclyn-taroni opened #82 "Section highlighting that successful approaches include multiple strategies"
**Context:** I am working on #63. Breaking out stub that is currently the url last section about combining multiple strategies in a single approach/application into it's own issue. Here's the current stub:

[2020-08-10 16:47] jaybee84 commented on #82
The sparse-group LASSO approach incorporates prior knowledge into the regularization [@doi:10.1080/10618600.2012.681250].

[2020-08-10 17:08] jaclyn-taroni opened #83 "Multitask and few-shot learning"
In the interest of getting #63 in _and_ discussion for this afternoon's (my time anyway 😄 ) meeting, I'm filing an issue to specifically track the addition of multitask and few-shot learning to the prior knowledge section of the manuscript.

Here's the stub that was added in https://github.com/jaybee84/ml-in-rd/pull/63/commits/89a83b95bf5bad9438cbb0c63ec14dac1c8e8dc1:

#### References I expect to

[2020-08-10 17:19] jaclyn-taroni commented on #50
* Supervised learning vs. unsupervised learning
* Feature and feature learning
* Transfer learning
* Multitask learning
* Few-shot learning

[2020-08-10 18:18] allaway opened #85 "define rare disease incidence for the purposes of this paper"
See https://github.com/jaybee84/ml-in-rd/pull/63#discussion_r468085862

[2020-08-10 18:19] allaway commented on #68
Mention how data could be improved (besides just "moar n") to enable the application of certain methods. example here https://github.com/jaybee84/ml-in-rd/pull/63#discussion_r468084020

[2020-08-10 18:54] jaclyn-taroni opened #86 "CONTRIBUTING: When editing, separate pull requests for text changes and renaming"
Discussed in today's meeting:

Currently different sections are in their own files, e.g., `content/03.prior-knowledge.cascadelearning.md` and `content/03.prior-knowledge.knowledge-graphs.md`. In #79, files that hold a different section are being combined and renamed, but there are also smaller text based changes like removing sentences that are no longer needed. However, because of the file renami

[2020-08-10 18:58] jaclyn-taroni opened #87 "EDITING: Cut 20% of your own section"
The first rounds of edits will have each individual contributor aim to reduce the length of the sections they wrote by 20%. The objective is to have this completed by our meeting at Aug 17th.

[2020-08-10 19:04] jaclyn-taroni opened #88 "EDITING: Round robin"
After #87 is completed, each contributor will go through the entire manuscript and (probably) cut 10-20% of other people's sections.

[2020-08-10 19:12] #3 closed

[2020-08-10 19:12] #5 closed

[2020-08-10 19:15] jaybee84 commented on #82
#7 seems to be similar to this

[2020-08-10 19:55] #86 closed, assigned to jaclyn-taroni

[2020-08-10 20:16] jaybee84 opened #90 "Doc guidelines"
### [Review and Perspectives](https://www.nature.com/nature/for-authors/other-subs)
Nature publishes two kinds of review, Review and Perspective articles.

Most articles are commissioned, but authors wishing to submit an unsolicited Review or Perspective must do so through our online submission system.

The synopsis should outline the basic structure of the article; list the material to be covered

[2020-08-10 20:18] jaybee84 commented on #90
[Perspectives](https://www.nature.com/nmeth/about/content#perspective)

Perspective is a format for scholarly reviews and discussions of the primary research literature that do not meet the criteria for a Review-either because the scope is too narrow, or because the author is advocating a controversial position or a speculative hypothesis or discussing work primarily from one group. Perspectives c

[2020-08-10 20:47] jaybee84 commented on #90
- aimed at a large, interdisciplinary audience and places a strong emphasis on the practical value of the work presented.
- the perspective will focus on ML strategies and their applications in basic research of rare diseases (rather than more clinical aspects such as diagnosis and treatment).

[2020-08-11 21:52] allaway opened #92 "define ML in first occurrence"
Not entirely sure where this will end up being so filing an issue instead of editing it. I think the first occurrence of  "machine learning" will be in the to be written summary. Should put (ML) in parens there so that we can use the abbreviation in the rest of the paper.

[2020-08-17 18:38] allaway commented on #87
@jaybee84 - can you close this if you've done all of your sections?

[2020-08-17 18:39] jaclyn-taroni commented on #83
I will plan on keeping this brief such that we won't need the 20% reduction pass.

[2020-08-17 18:40] allaway commented on #88
@allaway to go first
@jaybee84  to go second
@cgreene to go third
@jaclyn-taroni to go fourth

[2020-08-17 18:40] allaway commented on #88
Will reassign when done!

[2020-08-17 18:43] jaclyn-taroni commented on #68
Discussed in today's meeting - we will have folks take notes on how they think this section should shape up during their round robin passes (#88).

[2020-08-17 18:43] allaway commented on #41
Closing becasue this is too clinical for this perspective

[2020-08-17 18:43] #41 closed, assigned to nobody

[2020-08-17 18:48] jaclyn-taroni commented on #82
This is probably a good fit for the outlook section (#68)

[2020-08-17 18:53] jaclyn-taroni opened #96 "What changes need to be made to the introduction?"
As each person goes through their round robin pass (#88), it makes sense to take notes on what needs to goes into the introduction. @allaway has volunteered to take a look at this during his pass.

[2020-08-19 18:49] #87 closed, assigned to nobody

[2020-08-24 22:20] jaybee84 opened #100 "Add "experimental design" to the introduction"
add some refs to direct audience to properly design experiments that are conducive to ML

[2020-08-24 22:21] #100 closed, assigned to nobody

[2020-08-24 22:22] jaybee84 commented on #96
- experimental design
- gold-standard or silver standard dataset

[2020-08-25 01:25] #85 closed, assigned to allaway

[2020-08-25 01:25] #92 closed, assigned to allaway

[2020-08-25 01:27] allaway opened #101 "Ensemble method section seems out of place"
As discussed on Aug 24 call, ensemble section might need to be moved.

My thought was that it go after we describe the independent methods or in the outlook section, and make it relatively more succinct than at present.

Another suggestion in #98 from @jaybee84 was to move to the model-complexity section.

[2020-08-25 01:28] allaway commented on #96
I added definition for rare disease, and an abbreviation for machine learning (ML) that was used some places throughout but never defined.

I think the intro could have some additional content to help the reader tie the major sections together , but i did not add this yet.

[2020-08-25 01:34] jaybee84 commented on #101
adding this to my plate for now... will move around this section and see what makes for a better flow.

[2020-08-25 06:04] #83 closed, assigned to jaclyn-taroni

[2020-08-25 06:04] #45 closed, assigned to nobody

[2020-08-25 06:09] jaybee84 commented on #68
discussed in today's meeting: Quantitative (AUROC, precision-recall) vs qualitative (logical progression of ensembling different algorithms i.e. integrative analysis, biomedical evaluation using prior evidence) evaluation of model performance

[2020-08-31 18:54] jaybee84 commented on #68
https://www.nature.com/articles/s41576-020-0257-5

[2020-09-01 14:51] cgreene opened #105 "Determine Author Order"
Right now, the comment says: "#Below is a randomised order of authors. The author order will be decided through discussion and mutual consent." This is a note so that we remember :)

[2020-09-01 14:52] cgreene opened #106 "Figure: Statistical Techniques"
It would be grand to get a figure on the statistical techniques we discuss and to link those to how they address challenges in the rare disease space.

[2020-09-01 14:53] cgreene opened #107 "Figure: Prior Knowledge"
It'd be grand to get a figure on how prior knowledge/data can be useful, especially for rare diseases.

[2020-09-01 14:54] cgreene opened #108 "Figure: MultiPLIER / DeepProfile - Rare Disease Putting It Together"
It'd be grand to have a figure that covers perhaps both of these topics showing how they incorporate regularization (PLIER constraints, VAE's loss function w/ KL-divergence), & prior data (MultiPLIER/DeepProfile)/knowledge(MultiPLIER).

[2020-09-07 18:06] jaclyn-taroni opened #110 "Rewrite: Add brief explanation about transfer and multi-task learning to prior-knowledge section"
Context is #109 - Instead of including a `Transfer, multitask, and few-shot learning` section in prior knowledge that _also_ covers MultiPLIER and DeepProfile in any kind of depth, we will split the MultiPLIER and DeepProfile text into its own "putting it all together" section. We will need to rewrite the transfer learning and multi-task learning section such it is a brief explanation of these app

[2020-09-07 18:10] jaclyn-taroni opened #111 "Rewrite: Putting it all together section"
Context is #109 - Instead of including a `Transfer, multitask, and few-shot learning` section in prior knowledge that _also_ covers MultiPLIER and DeepProfile in any kind of depth, we will split the MultiPLIER and DeepProfile text into its own "putting it all together" section. This section will unify the regularization, other data & knowledge sections. It will require us to talk about regularizat

[2020-09-07 18:14] jaclyn-taroni commented on #108
I'm going to assign myself to this. I'll plan to put together at least an initial sketch in tandem with #111.

[2020-09-07 18:18] jaclyn-taroni commented on #88
I'm going to unassign @allaway and instead assign myself per our discussion last week. As part of my edits, I am planning to follow up on #109 and address #110 and #111 (and the first sketch of #108).

[2020-09-08 00:39] jaybee84 opened #112 "Rewrite: regularization in the context of making simpler models"

[2020-09-08 00:42] jaybee84 commented on #112
Adding other regularization methods as mentioned in  https://github.com/jaybee84/ml-in-rd/pull/109/files#r482443696

[2020-09-08 15:56] allaway opened #113 "rewrite: improve heterogeneity anecdote"
to address comments in #109

[2020-09-14 19:59] jaclyn-taroni commented on #112
In #114, I proposed to include text around feature selection & feature learning in the first section (formerly `heterogeneity`). This addition would provide helpful context for the model complexity section.  The scope of this change would basically be the introduction to the first section. For reference, the text of the TODOs from [that section](https://github.com/jaybee84/ml-in-rd/pull/114/files#

[2020-09-14 20:05] jaclyn-taroni commented on #113
Now that the heterogeneity section is being restructured to be more general (#114), there are additional changes we need to make to the original heterogeneity section. Specifically, we expect that the text originally about dimensionality reduction will be broken out and expanded upon as it's own section and we'll reframe discovering/visualizing heterogeneity as a use case or motivation for dimensi

[2020-09-14 20:14] jaclyn-taroni opened #115 "Add a more general section about dimensionality reduction"
In #114, I proposed restructuring the first section of the paper (formerly heterogeneity) to be more general. I broke out the dimensionality reduction text we had about batch effects into a more general section ([`Dimensionality reduction and representation learning`](https://github.com/jaybee84/ml-in-rd/pull/114/files#diff-8a83757df2dec087a0b8328c92a09884R8)) that also now contains the representa

[2020-09-14 20:18] jaclyn-taroni opened #116 "Figure: Feature selection and dimension reduction"
Idea from #114 that we are not 100% sold on - figure that covers "there are too many features", feature selection and feature learning, and maybe the specific use case of visualizing batch effects.

[2020-09-15 18:23] #101 closed, assigned to jaybee84

[2020-10-12 23:23] jaybee84 commented on #106
This is a tentative [sketch for the figure](https://www.figma.com/file/xpeib9bniLES6UV2Ybc4xL/Untitled?node-id=34%3A41) depicting key takeaways from the newly rewritten "Manage model complexity" section.

cc: @jaclyn-taroni @allaway @cgreene

We can use this as a starting point for the final figure for this section based on your comments. Happy to modify as needed.

[2020-10-26 18:54] jaclyn-taroni commented on #108
My plan for this is going to be to make a hand-drawn sketch to post here and also post the notes about the main takeaways we hope to show with the figure.

[2020-10-26 20:04] #113 closed, assigned to allaway

[2020-10-26 20:55] jaybee84 commented on #116
assigned to @allaway since this refers to heterogeneity and dimension reduction section

[2020-10-26 20:55] #112 closed, assigned to jaybee84

[2020-11-02 20:30] #115 closed, assigned to allaway

[2020-11-02 20:31] #110 closed, assigned to jaclyn-taroni

[2020-11-02 20:32] #11 closed

[2020-11-02 20:32] #7 closed

[2020-11-04 21:32] jaclyn-taroni opened #122 "Figures: Prep for design"
Deepa (@dvenprasad) will plan to join our meeting on Monday, Nov 9th. To best prepare for that meeting, we need to provide her with the following for each figure we hope to include ahead of time:

* What do we intend to communicate via the figure?
* If there are multiple pieces of information we are trying to present (see the first point), what is the one core piece of information that the audienc

[2020-11-09 01:06] jaclyn-taroni commented on #107
@dvenprasad I am including here the background info for this figure, including any appropriate links I came across. I am also going to quote what I think are the most relevant passages from the manuscript here for your reference.

[The relevant section of the manuscript](https://github.com/jaybee84/ml-in-rd/blob/draft-branch/content/05.prior-knowledge.md) covers the following topics:

* [**Knowled

[2020-11-09 01:34] jaclyn-taroni commented on #107
This section of the manuscript is divided up into two headings: [Knowledge graphs](https://github.com/jaybee84/ml-in-rd/blob/draft-branch/content/05.prior-knowledge.md#knowledge-graphs) and [Transfer, multitask, and few-shot learning](https://github.com/jaybee84/ml-in-rd/blob/draft-branch/content/05.prior-knowledge.md#transfer-multitask-and-few-shot-learning).

I think the main takeaways are somew

[2020-11-09 02:33] jaclyn-taroni commented on #108
The text related to this figure is in the open pull request (#120). It can be viewed here: https://github.com/jaybee84/ml-in-rd/blob/jaclyn-taroni/111-all-together-now/content/06.multiple-approaches-required.md. I would recommend reading that as background.

Concepts covered in this section:

* **Regularization** (see also #106 and [this section of the manuscript](https://github.com/jaybee84/ml-in

[2020-11-09 02:45] jaclyn-taroni commented on #108
As with #107, I'm adding a sketch intended to communicate the main takeaways, but not necessarily guide the generation of the final figure.

I think the _big takeaway_ for this figure should be that the concepts/approaches discussed throughout don't get used in isolation; for things to work in this domain, you need multiple techniques!

![multiple-approaches](https://user-images.githubusercontent.

[2020-11-09 04:18] allaway commented on #116
* What do we intend to communicate via the figure?

That the "curse of dimensionality" is a challenge for rare disease research. One way to overcome this is by aggregating datasets, specimens, etc, to boost the number of samples available for analysis. However, this can lead to additional issues, like non-biological variability. Dimensionality reduction methods (and subsequent correction of techni

[2020-11-09 04:20] jaybee84 commented on #106
-- The main message is that applying machine learning to rare disease datasets can lead to complex and misinterpreted models due to scarcity of data points and other challenges associated with this kind of data. But we can avail of various statistical techniques to make simple and stable models that capture the essential and relevant patterns in rare disease data. A tentative sketch of the figure

[2020-11-30 21:49] dvenprasad commented on #107
### Transfer Learning

![transfer-learning](https://user-images.githubusercontent.com/15315514/100669095-dfb8b800-332a-11eb-84fc-427a041e408e.png)

### Few-shot Learning
![few-shot-learning](https://user-images.githubusercontent.com/15315514/100669163-ff4fe080-332a-11eb-80d7-ad86efa21a11.png)

[2020-11-30 21:49] dvenprasad commented on #106
I spilt this up to individual methods for the purposes of illustrating them. We can combine them once we are happy with how the individual methods are presented.

They are very generic. As we iterate, we can make them more specific.

### Bootstrapping

![bootstrapping](https://user-images.githubusercontent.com/15315514/100667588-ab43fc80-3328-11eb-8814-ca939ae3cc4e.png)

### Ensemble Learning

I h

[2020-11-30 21:50] dvenprasad commented on #116
![dimension-reduction](https://user-images.githubusercontent.com/15315514/100669930-20fd9780-332c-11eb-9fe7-61b9624e4954.png)

[2020-11-30 23:46] jaybee84 commented on #106
Thanks @dvenprasad ! Below are my first thoughts:

1. Bootstrapping : it seems to me that in the depiction the features are being shuffled (please correct me if my understanding is not right). In actuality, bootstrap shuffles the data points (i.e. takes various drawings of the same samples like picking balls from a bag with replacement) but the features are left untouched.
-- Following on the rect

[2020-12-01 00:11] #122 closed, assigned to nobody

[2020-12-02 02:00] jaclyn-taroni commented on #116
I wanted to follow up on the not very good or informative drawing I showed over Meet yesterday with a slightly better drawing, where we have a heatmap with annotation bars on the left (I didn't fill in the colors that represent the values) and the scatterplot on the right where points are individual samples. My thought is that we could put some whitespace between the features that show different p

[2020-12-02 17:42] jaybee84 opened #124 "Boxes with definitions of important concepts"
1. Unsupervized learning
2. Supervized learning
3. Feature-representation-transfer

[2020-12-03 19:20] allaway commented on #116
Thanks @dvenprasad and @jaclyn-taroni. I like this sketch (btw - how did you draw this - a tablet?). I like that PC1/Feature 1 clearly shows the technical variation while PC2/Feature 2 highlights that you can still get meaningful separation of biological classes in other dimensions.

To add some "rare disease" flavor to this - perhaps one or more of the datasets could be restricted to one class, o

[2020-12-03 19:24] allaway commented on #108
I like this sketch a lot. Maybe it is because I am more familiar with MultiPLIER and similar techniques than our target audience, but I think that this is an appropriate level of simplicity. I really like that this highlights how different inputs/methods (priors, regularization, transfer learning, etc) are used in practice in a couple of examples. I do not think that this needs to be made more gen

[2020-12-03 19:38] allaway commented on #107
I think these figures are looking great. One comment about similarity metrics: they are often (maybe always?) on a 0 to 1 scale, and are either representative of similarity or distance, not both (e.g. I don't think that the center should be the "origin" for the similarity bars). Could also use a stylized heatmap representation of distance.

Also, thinking about these two concepts (transfer learnin

[2020-12-03 19:43] allaway commented on #106
-- Following on the rectangle box (few samples/ many features) vs square box (many samples/ many features) analogy from today morning, bootstrap is a way to turn a rectangular box into a square box (where each side is equal to the long side of the rectangle)

I agree with @jaybee84 here- and important to note that the sampling is with replacement (at least for all of the bootstrapping i'm familiar

[2020-12-04 01:12] jaclyn-taroni commented on #116
Oops, I totally set out to communicate the part about classes not being represented in all datasets (gray dataset in heatmap) and then got carried away making dots! (I recently got an iPad 😄 ) If we like this overall concept, I think there's room to incorporate these ideas (and we should!).

I agree that that would be useful to convey in this figure. If we stuck with the mini-heatmap, would includ

[2020-12-04 20:00] jaybee84 opened #125 "Add your thoughts from reviewing the latest version of the article on google doc"
The article is going through some iterations on google doc. The current version is here: https://docs.google.com/document/d/1ZIjUnRRj5SIbBW8aqTiRAQIg4aSY8nnQ/edit?ts=5fc83ef2#

Our goal is to pause editing on the google doc and port it back here. So please note your thoughts about the current version of the article here in this issue.

[2020-12-04 20:32] jaybee84 opened #126 "Target Audience of this article"
According to our discussion on 12/04/20, our target audience for this article is:

1. Anyone who is familiar with the concepts used in ML (e.g. supervised and unsupervised learning, bootstrap, ensemble learning etc), and considers/implements models on large datasets, but dismisses rare disease datasets as too small to be considered for ML. This would include a gradient from someone who has impleme

[2020-12-04 21:08] allaway commented on #126
I see that you assigned this to me, just to clarify, what is the action
item? Thanks!

On Fri, Dec 4, 2020 at 12:33 PM Jineta Banerjee <notifications@github.com>
wrote:

[2020-12-04 21:21] jaybee84 commented on #126
Assigned mostly to get everyone's attention through targeted notification  :)

One action item: see directions for article text (paragraph 2) to guide the future edits of the article :)

[2020-12-04 23:03] allaway commented on #126
Ah, haha, I only saw that it was assigned to me via email. makes sense!

On Fri, Dec 4, 2020 at 1:22 PM Jineta Banerjee <notifications@github.com>
wrote:

[2020-12-05 00:24] jaybee84 opened #127 "Points to include in discussion"
1. Domain knowledge is important in rare disease data analysis:

2. Can strategies/methods exploiting "anchoring" help rare disease data analysis [https://www.cell.com/cell/fulltext/S0092-8674(19)30559-8] ? Future direction?

[2020-12-05 00:26] jaybee84 commented on #127
other points mentioned in #68

[2020-12-07 00:40] jaclyn-taroni commented on #125
I took a bunch of handwritten notes on a PDF version where I accepted all the changes (yes, on my iPad 🤩 😂 ). The notes I took are mostly related to wordsmithing, where I think having me file a PR would probably be more efficient than noting it here. I'm going to propose that we port it back over to Google Docs before I take a pass over all sections but the last one. @jaybee84 I think you should p

[2020-12-07 02:22] jaclyn-taroni commented on #107
I think some of the imagery for few shot learning that I've found helpful usually gives you some kind of _intuition_ about why this is a possible strategy. (Granted it helps that they are from the natural image domain!) Here are some examples:

- Problem setting figure here: https://medium.com/sap-machine-learning-research/deep-few-shot-learning-a1caa289f18
- Figure 2 from _Few-Shot Learning with

[2020-12-07 17:37] jaybee84 opened #128 "Consider Challenge-Solution format for "Using composite approaches" section"
In the examples, the aggregation of the different approaches (i.e. regularization, representation, prior data) is present but not highlighted. The rare disease aspect of the implementation also needs to be highlighted a bit more

Is it possible to use a challenge-solution format to describe these two examples, i.e. in example 1, challenge 1=small dataset, solution =representation learned from larg

[2020-12-07 18:43] dvenprasad commented on #106
**Bootstrapping:**
Yes, I was shuffling features. I've redone them with your notes. I'm shuffling the colors on the cube to indicate the shuffling of data points ( I do want to add circles within the squares as data points and we can change the colors of that instead of the sides on the cube). I'm not sure how to show how each side is the length of the longer side.

![bootstrapping](https://user-i

[2020-12-07 18:58] dvenprasad commented on #106
**One class at a time**
I've depicted the output as the model being able to tell which class it has learned and treat the rest of the classes as a `A class I don't know`

![one-class-at-a-time](https://user-images.githubusercontent.com/15315514/101392482-d2a04980-3893-11eb-86e7-6417942dc09e.png)

[2020-12-07 19:22] jaybee84 opened #131 "Manubot upgrade required to fix broken build"
https://github.com/manubot/rootstock/issues/388

[2020-12-07 21:58] #131 closed, assigned to jaybee84

[2020-12-08 23:56] jaybee84 commented on #125
@jaclyn-taroni Done!

[2020-12-09 00:00] #24 closed

[2020-12-09 00:02] jaybee84 commented on #52
In the current version, we have taken approach 1

[2020-12-09 00:02] #52 closed, assigned to nobody

[2020-12-09 00:03] #88 closed, assigned to jaybee84

[2020-12-09 01:00] jaybee84 commented on #128
Linking the one unresolved comment from #120 here: https://github.com/jaybee84/ml-in-rd/pull/120#discussion_r516103061

[2020-12-09 03:49] #124 closed, assigned to jaybee84

[2020-12-09 03:51] #111 closed, assigned to jaclyn-taroni

[2020-12-09 15:02] dvenprasad commented on #106
Okay, took another pass at bootstrapping and ensemble learning after Monday's discussion.

**Bootstrapping**

Couple of notes:
- Shapes indicate dataset source, color indicates classes
- For the aggregate and resampled datasets, I kept the colors together because it makes it easier to track what is changing. The number of classes are the same but the samples can be from another source (I hope this

[2020-12-09 16:31] dvenprasad commented on #116
@jaybee84  and I spoke a bit more on Monday and expanded on the figure @jaclyn-taroni posted above.

![Screen Shot 2020-12-09 at 10 41 56 AM](https://user-images.githubusercontent.com/15315514/101651770-6c3e3700-3a0b-11eb-90fc-a4660bbd434e.png)

- The sample- feature box: Can it just be a solid block or are there some nuances which need to be represented? (i.e dataset source? or classes?)

[2020-12-09 16:40] allaway commented on #116
I guess I don't understand the first box - isn't it conveying the same thing as the second set? In @jaclyn-taroni 's sketch, the dimensionality reduction happens at the arrow between the heatmap and the scatterplot. I think that the final box is helpful, but it represents the output of the black arrow (ie all of the new dimensions), and the scatterplot would still be the final step (plotting new f

[2020-12-09 16:47] jaybee84 commented on #116
I think the first box (sample-feature box) should recap the 4 dataset boxes with colored and shaped dots from #106 ... The first box I think is helpful in holding the reader's hands to make the connection that the heatmap is talking about the datasets.

Also it may be helpful to have the rows as features and columns as samples in all boxes to be consistent between boxes and heatmaps and such

[2020-12-09 16:56] allaway commented on #106
bootstrapping figure:

I really like this! My only thought would be to add the individual models that are created during each bootstrap to help the reader understand how each bootstrap is contributing some knowledge to the final aggregate model.

here's a sloppy mock of what I was thinking:
![bootstrap](https://user-images.githubusercontent.com/20408008/101660966-96d4c380-39fc-11eb-987a-5f17f76095

[2020-12-09 17:09] allaway commented on #106
re ensemble modeling:

Here's an example of actually combining models:

<img width="667" alt="Screen Shot 2020-12-09 at 9 02 55 AM" src="https://user-images.githubusercontent.com/20408008/101661603-588bd400-39fd-11eb-8cff-3e93507c9282.png">

The first box is our "best" model alone. The 2nd is the "best + 2nd best", the 3rd is "best + 2nd best + 3rd best" and so on....

The blue and yellow boxes ar

[2020-12-09 17:48] jaybee84 commented on #106
Re: bootstrap

suggest changing "aggregate" to "harmonize" :)

[2020-12-10 19:03] jaybee84 commented on #106
Re: ensemble
![image](https://user-images.githubusercontent.com/17917521/101823746-1a1b1580-3ae0-11eb-8654-c10832151c8c.png)

[2020-12-10 20:04] jaybee84 commented on #106
@dvenprasad I added a rough sketch re: ensemble learning in the above comment. Please let me know if you cannot view it or have questions.

[2020-12-14 18:51] dvenprasad commented on #106
**Regularization**

![regularization](https://user-images.githubusercontent.com/15315514/102122361-5e295580-3e13-11eb-9b26-e137b64f2b3d.png)

[2020-12-14 19:26] jaybee84 commented on #106
I like the above figure... just a few notes:
1. We might not want to use circles as a dataset indicator since we are using circles as features
2. To be consistent with the dimension reduction fig (and the heatmap panel), we might want the datasets to be rectangles in portrait mode ie many features as rows, and few samples as columns
3. It may just be me but in this figure it seems like the top two

[2020-12-14 20:25] allaway commented on #96
Closed - this was addressed.

[2020-12-14 20:25] #96 closed, assigned to allaway

[2020-12-14 20:37] #125 closed, assigned to jaybee84, jaclyn-taroni, allaway

[2020-12-14 20:37] #82 closed, assigned to nobody

[2020-12-18 23:33] dvenprasad commented on #108
- I used the little bulb-gear icon to indicate that we were talking about a method. We can add that to the name of the method in the other figures too. ( also the bulb does not have to be smiling)

**Deep Profile**
- For the last bit of the figure, is that improved VAE model or is it a different model we are generating?
- Also, what's the initial model health like?

![deep-profile](https://user-im

[2020-12-18 23:33] dvenprasad commented on #107
**Transfer Learning**

- The initial dataset still has some of the classes in the test dataset but low number of sample (see light green and purple)
- Using the horizontal rectangle box to indicate rare disease data (lots of features, few samples)

![transfer-learning](https://user-images.githubusercontent.com/15315514/102669321-4841ca80-415c-11eb-9749-c63564905e2b.png)

**Few shot learning**
Used

[2020-12-18 23:34] dvenprasad commented on #106
Changed yellow->purple because the contrast was really bad with white

**Bootstrapping**
Updated it based on feedback.-> Added in sad models per resampling of dataset.

![bootstrapping](https://user-images.githubusercontent.com/15315514/102669504-bc7c6e00-415c-11eb-95be-0bb5fe92bc94.png)

**Ensemble Learning**
Re-did it based on @jaybee84 sketch.
![ensemble-learning](https://user-images.githubuser

[2021-01-05 05:28] allaway commented on #50
overfitting
generalizable

the second is maybe not necessary, but putting it here in case since the use is somewhat specific (haha) in this context.

[2021-01-05 17:41] allaway opened #138 "Citations and punctuation placement"
As noted by @jaclyn-taroni we are using different placements of punctuation vs citations (https://github.com/jaybee84/ml-in-rd/pull/137#discussion_r552009917) - need to pick one approach and make manuscript uniform.

[2021-01-05 22:26] dvenprasad commented on #116
Notes:

1) I am not 100% confident that I drew the heatmap correctly

2) I added the shapes next to the dataset indicators on the heatmap to help people make the association between shape and dataset

3) For the new feature graph I'm not sure how to write the weightage of features. Is it 10% from f1-f33000, 30% from f33001-f66000, and 60% from f66001-f100000?

![dimensionality-reduction](https://u

[2021-01-05 23:48] allaway commented on #116
Hi @dvenprasad - thanks!

Re 1: This looks correct to me!  Maybe it would help to just have f1-f1000000 (rather than f1-f330000, f330001..etc) in the middle panel to simplify.

Re 3: I think reasonable percentages would be new feature 1 = 60%, new feature 2 = 30%. I think this is what you are saying already?

[2021-01-06 00:00] jaybee84 commented on #116
re 3: An option can be
new feature 1 = (0.1 f1 + 0.001 f2 + 0.9 f3 ... + 0.07 f100000)

[2021-01-06 17:08] dvenprasad commented on #116
Okay thank you!
@jaybee84 yes! That is what I wanted to add.

New version:
- simplified middle heatmap feature label.
- Added the weightage of features on the new feature graph

![dimensionality-reduction](https://user-images.githubusercontent.com/15315514/103798342-8d4c7480-5017-11eb-9ef0-2354df3a120d.png)

[2021-01-06 17:10] dvenprasad commented on #108
Updated MultiPLIER and DeepProfile based on comments from Monday's call.

- Regularization and Representation learning happen at same step.
- Indicate that LVs and Encodings are representations
- Remove final model from DeepProfile

![multiplier](https://user-images.githubusercontent.com/15315514/103798789-33987a00-5018-11eb-94d3-729f41c67636.png)
![deep-profile](https://user-images.githubusercont

[2021-01-06 17:16] dvenprasad commented on #107
Updated figures based on Monday's call.

**Transfer Learning**
- Updated caption of big dataset

![transfer-learning](https://user-images.githubusercontent.com/15315514/103799117-a570c380-5018-11eb-8ad0-13cf959738ac.png)

**Few Shot Learning**
- Combined the 4 small datasets to make one big dataset
- Greyed out everything but pink and green classes
- Removed the classification of other colors
- Re

[2021-01-06 21:23] jaybee84 commented on #108
@dvenprasad this looks good! Can we replace "Cell Line Data" with "In-vitro data"?

[2021-01-11 21:57] jaclyn-taroni opened #140 "Identify a way to link between sections and apply uniformly"
In the #139, I added TODOs about linking to the definition of VAEs (e.g., `definition.md`). As far as I know, there are other places where linking between sections would be useful. This issue is to track 1. identifying a strategy to link between sections and 2. applying that everywhere we'd like to use it in the manuscript.

[2021-01-19 01:33] jaclyn-taroni commented on #128
Closed via #139

[2021-01-19 01:33] #128 closed, assigned to jaclyn-taroni

[2021-01-27 20:53] jaybee84 commented on #90
Formatting of Figures:

[Figures](https://www.nature.com/nmeth/for-authors/preparing-your-submission#formatting)
Figures should be numbered separately with Arabic numerals in the order of occurrence in the text of the manuscript. One- or two-column format figures are preferred. When appropriate, figures should include error bars. A description of the statistical treatment of error analysis should

[2021-01-29 00:10] allaway opened #143 "Address this conversation in outlook"
https://github.com/jaybee84/ml-in-rd/pull/141/files#r565007148

[2021-01-29 00:18] #68 closed, assigned to nobody

[2021-01-30 05:16] jaybee84 opened #146 "Round Robin Edits"
The manuscript is ready for another round of edits. All the figures are added in the article and have been cited in appropriate places.  I tried adding png/tiff versions of figures in addition to pdfs, but none of the versions rendered in the pdf/html version of the manuscript. Still trying to troubleshoot that, so please look at the `/content/images/figures/pdfs` directory to review the appropria

[2021-01-30 05:17] #106 closed, assigned to dvenprasad, jaybee84

[2021-01-30 05:17] #107 closed, assigned to dvenprasad, jaclyn-taroni

[2021-01-30 05:17] #108 closed, assigned to dvenprasad, jaclyn-taroni

[2021-01-30 05:17] #116 closed, assigned to dvenprasad, allaway

[2021-01-30 05:18] #127 closed, assigned to nobody

[2021-02-01 18:00] jaybee84 commented on #146
My edits are in... tagged @jaclyn-taroni on #147 :)

[2021-02-01 19:45] allaway opened #148 "Resolve doi errors"
Some references are not found, try and squash these errors in round robin.

[2021-02-02 13:16] jaclyn-taroni opened #149 "In-vitro -> in vitro in `multiplier-DeepProfile` figure"
The last part of the DeepProfile panel says "in-vitro." The correct spelling is "in vitro." I am going to assign @jaybee84 since you are editing the statistical techniques figure at the moment.

[2021-02-02 13:51] jaclyn-taroni opened #150 "Flesh out figure legends"
I have in my notes from yesterday that we should add in the figure captions after all of the round robin edits go through. My notes are ambiguous, to be honest, but it does make sense to me that we'd take this step between the round robin edits -> Google Doc. Having the images successfully included in the rendered version would probably help this along, too.

[2021-02-02 14:55] jaclyn-taroni opened #151 "Rearrange panels in prior knowledge figure"
While going through my round of edits, I realized that the prior knowledge panels were out of order compared to how the methods are described in the text.

The following layout would be consistent with the text of the manuscript:

![image](https://user-images.githubusercontent.com/19534205/106617298-7e84af00-653c-11eb-908c-fe4c28b39e14.jpeg)

@jaybee84 do you want to make this change in Illustrato

[2021-02-02 15:31] jaclyn-taroni commented on #151
Okay, I see - the _actual problem_ is that the PDF in `images/`, which is what I'm looking at (didn't go any deeper), are out of sync with what's in `images/pdf` and also `images/tiff` and `images/pdf` are not the same.

[2021-02-02 15:35] jaclyn-taroni opened #152 "Synchronize or remove some of the figure files"
I was confused by the multiple drafts of the figures, as evident in #151. The TIFF and PDF versions of `prior-knowledge` are not the same as far as I can tell and the PDF files in `images/` are out of date.

[2021-02-02 15:35] jaclyn-taroni commented on #151
Closing this, filed #152 to track the root of my confusion

[2021-02-02 15:35] #151 closed, assigned to nobody

[2021-02-02 15:58] jaclyn-taroni commented on #146
TODOs from my most recent pass for your reference @allaway:

* Opening sentence of synopsis should be specific about what kind of technological advances we're talking about.
* We use the terms "label-noise" and "high label-uncertainty" somewhat interchangably, is there a way to stick to one of these terms/phrases? (Relevant to: `02.intro.md` and `04.model-complexity.md`)
* "Fully integrate" dimens

[2021-02-02 23:52] #152 closed, assigned to jaybee84

[2021-02-03 22:55] allaway opened #155 "Model complexity, missing citation"
@jaybee84, did you have a particular ciation in mind for this sentence in the model-complexity section? "Regular ensemble learning has shown limited success in rare disease datasets with substantial label-noise. [TODO: citation?]"

[2021-02-08 16:36] allaway opened #160 "Dimensionality reduction figure add letters"
Would it be possible to add A-D for the four "sections" of the model complexity figure?

[2021-02-08 16:40] allaway commented on #146
I just realized that I kind of missed the first half of this:

I'll take a stab now and ask @jaybee84 to review before exporting to doc for Justin's review.

[2021-02-08 17:55] jaybee84 opened #162 "Images not rendering in the output file"
tracking the issue here: https://github.com/manubot/rootstock/issues/410

[2021-02-08 23:04] #160 closed, assigned to jaybee84

[2021-02-08 23:24] #149 closed, assigned to jaybee84

[2021-02-09 01:17] #155 closed, assigned to jaybee84

[2021-02-09 03:45] allaway commented on #155
💪 💪 💪 💪

[2021-02-09 03:46] allaway commented on #148
Closed in #157

[2021-02-09 03:46] #148 closed, assigned to allaway

[2021-02-09 23:57] #162 closed, assigned to jaybee84

[2021-02-27 02:34] allaway opened #168 "cite https://doi.org/10.1038/s43018-020-00169-2"
"cite https://doi.org/10.1038/s43018-020-00169-2 somewhere in [the last paragraph in the prior knowledge section]" as per @jaclyn-taroni's comment on google doc, but do it in manubot to avoid issues w/citations.

[2021-03-01 04:50] #150 closed, assigned to nobody

[2021-03-01 04:50] #146 closed, assigned to nobody

[2021-03-01 04:51] #143 closed, assigned to nobody

[2021-03-01 04:51] #140 closed, assigned to nobody

[2021-03-01 04:53] #42 closed, assigned to nobody

[2021-03-01 05:10] #138 closed, assigned to nobody

[2021-03-01 05:10] #168 closed, assigned to allaway

[2021-03-01 23:59] #105 closed, assigned to nobody

[2021-07-21 18:28] jaybee84 opened #172 "Revisions: What we need to do"
Please read the reviewers comments/ our responses in the letter linked on slack

[2021-07-21 18:41] jaybee84 opened #173 "Revisions: Introduction"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:43] jaybee84 opened #174 "Revisions: manage complex high dimensional rare disease data"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:44] jaybee84 opened #175 "Revisions: Manage model complexity while preserving value of ML"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:45] jaybee84 opened #176 "Revisions: Build upon prior knowledge and indirectly related data"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:45] jaybee84 opened #177 "Revisions: Using composite approaches can be a powerful strategy"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:46] jaybee84 opened #178 "Revisions: Outlook"
Please read this section from the point of view of an audience less familiar with ML. Jot down any questions that occur to you while reading this section.

[2021-07-21 18:48] jaybee84 opened #179 "Revisions: Figure 1 -- New Figure 2"
Please take a look at this figure from the point of view of an audience less familiar with ML. What are some of the points that are confusing ?

[2021-07-21 18:48] jaybee84 opened #180 "Revision: Figure 2 -- New Figure 3"
Please take a look at this figure from the point of view of an audience less familiar with ML. What are some of the points that are confusing?

[2021-07-21 18:49] jaybee84 opened #181 "Revision: Figure 3 -- New Figure 4"
Please take a look at this figure from the point of view of an audience less familiar with ML. What are some of the points that are confusing?

[2021-07-21 18:49] jaybee84 opened #182 "Revision: Figure 4 -- New Figure 5"
Please take a look at this figure from the point of view of an audience less familiar with ML. What are some of the points that are confusing?

[2021-07-27 15:39] jaclyn-taroni commented on #173
Notes I had:

* In referencing the systematic review on application of ML in RD, remove the references to specific approaches (e.g., SVM) and just stick to the number of studies and diseases
* Define machine learning and move descriptions of unsupervised and supervised machine learning from the "definitions" section to the intro and integrate them in the following ways:
  * Use a specific example

[2021-07-27 15:53] jaclyn-taroni commented on #174
* Expand and/or simplify to more "plain language" the sentence about increased sparsity, etc.
* Walk through PCA briefly – I'd say talking about it in the context of feature construction is probably the most relevant here? And maybe a sentence or two about the conceptual differences in t-SNE and UMAP (and/or what are they thought to be better at)
* I think we do want to retain the discussion of te

[2021-07-27 16:01] jaclyn-taroni commented on #175
* For the audience, what does "performant" mean?
* Similar to my comment on #173, explain why bad things (like overfitting!) are bad in practice.
* Talking about "helps estimate population values" seems like either too much or too little information
* I'm not sure we need to go into the specifics of LASSO, ridge, and elastic net and in tandem, we might shorten the list of references - i.e., should

[2021-07-27 17:27] jaclyn-taroni commented on #176
* For the knowledge graph section, are there specific examples of knowledge graphs that are specific to a particular common disease context (e.g., BRCA) that we can use as contrast?

[2021-07-27 17:29] jaclyn-taroni commented on #177
* Update the title of section to reflect powerful strategy for what per reviewer comment
* There was an earlier version of this section that I wrote when I thought we were writing for a biological audience, but I think that got edited in Google Docs? We should see if we can find it and "roll this back" as a starting point.

[2021-07-27 20:46] jaclyn-taroni commented on #178
I thought this section read pretty well, even with our potential change in audience. However, I think that it might be the case (much like the intro!) that this changes as we edit the rest of the document. One thing I'll note is that a reviewer brought up expanding our comparisons to precision medicine and I think this section might be a natural place to do that.

[2021-07-29 14:39] dvenprasad commented on #174
Just jotting down questions that popped into my head as I read through.

- What are hyperparameters?

- `Dimensionality reduction, or more fundamentally, representation learning` is this implying that both dimensionality reduction and representation learning are the same?

[2021-07-29 16:07] dvenprasad commented on #176
- What kinds of data modality?

- What does encoding method mean?

- ^^^ Could we add an example for multitask learning, like there is for few shot learning? I know there's an example later on but I think it might help if people can compare as we introduce it. (snippet below)

[2021-07-30 12:37] dvenprasad commented on #179
Based on the review this is what I interpreted.
The way we represent the samples and datasets is not uniform. In this we have used shapes to represent datasets but everywhere else we have used the shaped to represent samples. So we need to reiterate and find a different way to represent datasets, i.e., not a shape.

[2021-07-30 12:37] dvenprasad commented on #175
- what is class imbalance?

A pattern I noticed (not only limited to this section), is that we talk about the techniques and then provide examples. I wonder if we could talk about the example first and then the techniques presenting it as Context -> Biological problem -> technique and what it solves and then get into the weeds like the different variations of the technique, so we're transitioning

[2021-07-30 19:00] allaway commented on #182
I think that there are a few things we could change to make this figure more understandable:

- Explain what the colors and shapes mean. Maybe, additionally, we could remove the "dataset" concept and just leave the "identity" concept
- Rearrange the figure somewhat. The training data is input to the untrained model, and the rare disease data is input to the trained model. As organized, it kind of

[2021-07-30 19:52] jaybee84 commented on #181
This one overall was hard to follow. Might need to revamp this figure completely with a fresh perspective.

[2021-07-30 20:18] jaclyn-taroni commented on #179
Per @jaybee84 - turn this into a representation learning figure, which is covered in the first section on dimensionality reduction and in the section on multi-task learning, etc.

[2021-08-12 19:52] jaclyn-taroni commented on #179
In terms of turning this into a representation learning figure - what if we started by getting rid of panels **a** and **d** and then simplifying / stripping away some of the text? I'd say in that context we can probably remove the shape as a dataset concept from this figure. I do think **b** and **c** are a good start wrt the points we're trying to make.

[2021-08-13 17:38] jaclyn-taroni commented on #179
Additional thoughts I had today:

- Add a panel between the current b and c that takes two original features that do not show an obvious pattern in the heatmap and make a scatter plot (that also doesn't have an obvious pattern)
- Then between new scatter plot ☝🏻 and the current scatter plot we could have arrows with graphics that represent different approaches (e.g., matrix factorization, neural n

[2021-08-13 19:42] dvenprasad commented on #179
Adding current figure for reference
![Screen Shot 2021-08-13 at 3 42 29 PM](https://user-images.githubusercontent.com/15315514/129410670-26e4f7d0-d1a9-46f5-859e-4d11bcf69cc4.png)

[2021-08-13 19:44] dvenprasad commented on #180
Current figure for reference:
![Screen Shot 2021-08-13 at 3 43 55 PM](https://user-images.githubusercontent.com/15315514/129410805-41b5fb53-1aa1-4c56-9160-40bfe7c8e02c.png)

[2021-08-13 19:45] dvenprasad commented on #181
Current figure for reference:
![Screen Shot 2021-08-13 at 3 45 05 PM](https://user-images.githubusercontent.com/15315514/129410908-7cbdf41d-391a-4394-9bc5-d5f5d8580edd.png)

[2021-08-13 19:46] dvenprasad commented on #182
Current figure for reference:
![Screen Shot 2021-08-13 at 3 46 00 PM](https://user-images.githubusercontent.com/15315514/129410990-9c3883f8-9114-4f3f-90ab-3794f266b856.png)

[2021-08-20 16:27] dvenprasad commented on #179
Updated figure based on feedback:

![figure-1](https://user-images.githubusercontent.com/15315514/130264321-b866b8ae-fc86-44a1-b902-d8743cfa292c.png)

[2021-08-20 20:18] jaclyn-taroni opened #185 "Revisions: Box that's a primer for "experimental design""
Should cover some basics like training and test data – for those are not familiar, this will add context ahead of a planned section about harmonizing different data sets (what we're pulling out of Figure 1 https://github.com/jaybee84/ml-in-rd/issues/179)

[2021-08-20 20:29] jaclyn-taroni opened #186 "Revisions: [New] Figure 1 – Demonstrating the concept of combining datasets"
In the figure previously known as figure 1 (#179), we've removed a lot of the "extra" information we were trying to get across. Namely, that we're often going to need to combine multiple datasets to set up our ML experiments in rare disease contexts. We've discussed adding a new figure that covers combining datasets. This figure also might include some panels that cover supervised vs. unsupervised

[2021-08-20 20:34] jaclyn-taroni opened #187 "Revisions: A section about combining multiple datasets"
In the current first paragraph of the **Manage complex high-dimensional rare disease data** section (https://github.com/jaybee84/ml-in-rd/blob/cd783d5e034838b7aa5a6690ec4d320ef712dbac/content/03.heterogeneity.md#manage-complex-high-dimensional-rare-disease-data), we cover the concepts like the curse of dimensionality, etc.

Now that we are revising the article to help onboard folks that are new to

[2021-08-23 18:57] jaclyn-taroni commented on #187
I don't think this can be completed (read: totally polished) before #185 is addressed, but I'm happy to get started on moving things around.

[2021-09-03 18:33] allaway commented on #176
@jaclyn-taroni, Can you clarify this for me - specifically, what the contrast is that you are looking for? I think that KGs could be used for really any disease, regardless of rarity, so I'm not sure what the contrast should be highlighting.

[2021-09-03 18:34] allaway commented on #176
@dvenprasad,

The data types are described a couple of sentences later. Do you think I should move them up to this sentence?

Thanks!

[2021-09-03 18:35] jaclyn-taroni commented on #176
Yes, KGs could be used for any disease.

If a disease is well-studied enough, one could presumably build a context-specific knowledge graph. If you can't do that, even more reason to "borrow" from more general KGs. Does that make sense?

[2021-09-03 18:50] allaway commented on #176
Yes, that makes sense. Thanks!

[2021-09-10 19:46] dvenprasad commented on #179
New figure:
![figure-1](https://user-images.githubusercontent.com/15315514/132060120-a3e0b405-bf39-45cf-8744-efe3b9822e55.png)

[2021-09-22 15:07] dvenprasad commented on #186
All right, I took a first pass at it.  I think the captioning needs some work, esp differentiating the normalized vs not normalized combined datasets.

Would the terms combined and aggregated help differentiate them better?

![figure-1-combining-datasets](https://user-images.githubusercontent.com/15315514/134369569-ce7d9000-5eab-4981-9e88-826c6ce89d0d.png)

[2021-09-24 18:40] jaybee84 commented on #186
My first thoughts:

1. It may be easier for the reader, if we only have 2 classes (i.e. colors)
2. The size of shapes on the PCA plots can be made smaller to show greater distance between each cluster.

[2021-10-07 12:55] jaclyn-taroni commented on #177
I spent some time with this yesterday and came to the conclusion that it might be better to wait until #174, #175, and #176 are addressed. If I recall correctly, this is the approach we used originally. It makes sense that the writing in this section would depend on exactly what we talk about before we get here & tie it together.

[2021-10-15 19:42] #185 closed, assigned to jaybee84

[2021-10-15 20:09] #187 closed, assigned to jaclyn-taroni

[2021-10-15 20:40] jaybee84 commented on #176
@jaybee84 to split out the multitask learning part of this section out into a separate issue

[2021-10-15 21:26] jaybee84 opened #194 "Revisions: Build upon prior knowledge and indirectly related data - Multitask learning part"
The Knowledge graph part of it is being tackled in #189 . The transfer learning and multitask learning part of it needs revision but is dependent on #174 first being completed.

Just to revisit what we had mentioned to do:

- `We will revise the sections to include a synthesis of the machine learning concepts before transitioning to a few examples of application of these concepts in rare disease f

[2021-10-15 21:27] jaybee84 commented on #176
Adding the following just to revisit what we had mentioned to do:

- `We will revise the sections to include a synthesis of the machine learning concepts before transitioning to a few examples of application of these concepts in rare disease for the benefit of the readers.`
- `We will also refine the headers to provide more clarity to the readers.`

[2021-10-15 21:27] jaybee84 commented on #177
Adding the following just to revisit what we had mentioned to do:

- `We will revise the sections to include a synthesis of the machine learning concepts before transitioning to a few examples of application of these concepts in rare disease for the benefit of the readers.`
- `We will also refine the headers to provide more clarity to the readers.`

[2021-10-15 21:28] jaybee84 commented on #175
Adding the following just to revisit what we had mentioned to do:

- `We will revise the sections to include a synthesis of the machine learning concepts before transitioning to a few examples of application of these concepts in rare disease for the benefit of the readers.`
- `We will also refine the headers to provide more clarity to the readers.`

[2021-10-15 21:28] jaybee84 commented on #174
Adding the following just to revisit what we had mentioned to do:

- `We will revise the sections to include a synthesis of the machine learning concepts before transitioning to a few examples of application of these concepts in rare disease for the benefit of the readers.`
- `We will also refine the headers to provide more clarity to the readers.`

[2021-10-15 21:46] jaybee84 commented on #175
Other reminders:
- note the limitations of resampling in case of non-deterministic algorithms.
- clarify confidence interval estimation through resampling both with and without replacement.
- clarify that special attention should be directed towards adjusting for rare classes.
- mention different approaches that may be taken to address the presence of class imbalance and label-noise.

[2021-10-21 19:58] dvenprasad commented on #186
Re: K fold cross validation
We can do two things: Represent it on an abstract level or show the classes in the training and validation sets

**1) Option One: Represent it on a somewhat abstract level**
So I googled a whole bunch and the rectangle representation seems to be popular for showing the windows. We can do that. I tried sketching out a circular representation below:
![Screen Shot 2021-10-

[2021-11-17 19:56] allaway opened #195 "Outlook - precision medicine connection"
"One thing I'll note is that a reviewer brought up expanding our comparisons to precision medicine and I think this section might be a natural place to do that." from @jaclyn-taroni in #178.

I can add a few sentences on this!

[2021-12-01 22:00] allaway opened #196 "Sketch figure knowledge graph B (4b?) - graphical summary of li et al"
Describe what Li et al did (https://bmcmedinformdecismak.biomedcentral.com/articles/10.1186/s12911-019-0938-1) in the style of the other classification figures.

[2021-12-01 22:02] allaway opened #197 "Revisit KG concepts in green and purple"
See here: https://projects.invisionapp.com/freehand/document/I6gyvMiJB

[2021-12-01 22:04] dvenprasad commented on #197
<img width="533" alt="Screen Shot 2021-12-01 at 5 03 20 PM" src="https://user-images.githubusercontent.com/15315514/144321491-5c36dc85-4f43-4e72-bb9a-fb3f513c3698.png">

[2021-12-15 18:17] jaybee84 commented on #180
@dvenprasad few preliminary changes that are necessary in this figure:
1. reduce colors to 2 classes only
2.  remove one class at a time learning

In addition to the above we may need to restructure the figure according to the text.

[2021-12-15 18:44] allaway commented on #197
I think it might be good to summarize the data types like so:

genetic (e.g. sequencing data)
functional (e.g. curated pathways)
clinical (e.g. rare disease EHR data)
chemical (e.g. drug targets)
ontological data (e.g. clinical ontologies, phenotype ontologies)

[2021-12-15 18:48] allaway commented on #197
For the purple to green text section I might add:

calculate node embeddings (purple) -> identify possible drug-disease relationships  (green)
term mapping to knowledge graphs (purple) -> generate enriched datasets with expanded terminology, links between concepts

[2021-12-15 20:22] allaway commented on #196
@dvenprasad I added a sketch here - let me know what you think! https://projects.invisionapp.com/freehand/document/I6gyvMiJB

[2021-12-15 20:22] #196 closed, assigned to allaway

[2021-12-20 02:41] jaybee84 opened #199 "Reviewer comments stratified by sections"
https://docs.google.com/document/d/1EjoK9SWqGH3_fboJWPEb5kDa42oZTzezin-21jwPJW8/edit?usp=sharing

[2021-12-22 18:57] jaybee84 commented on #199
@jaclyn-taroni @allaway @dvenprasad I have stratified the reviewers' comments here by section. Hope this will be helpful in tracking edits to the manuscript

[2022-01-05 21:44] allaway commented on #197
I think this can probably be closed, but reassigned to @dvenprasad in case there's anything else that needs to happen?

[2022-01-07 13:27] jaclyn-taroni commented on #181
Going to drop my brain dump here for discussion next time we meet

![image](https://user-images.githubusercontent.com/19534205/148550423-f78eccf7-1fe0-4f47-b71c-0dea7b9536b4.jpeg)

[2022-01-10 19:48] #194 closed, assigned to jaclyn-taroni

[2022-01-26 20:51] jaybee84 commented on #186
@dvenprasad can you please add in the updated figure [here](https://github.com/jaybee84/ml-in-rd/tree/draft-branch/content/images/figures/pdfs)?

[2022-01-26 20:52] jaybee84 commented on #179
@dvenprasad can you please add in the updated figure [here](https://github.com/jaybee84/ml-in-rd/tree/draft-branch/content/images/figures/pdfs)?

[2022-01-26 20:55] dvenprasad commented on #186
![figure-1-combining-datasets](https://user-images.githubusercontent.com/15315514/151245508-0c9df29b-ae16-4294-b7a4-9bd71a183546.png)

[2022-01-26 20:56] dvenprasad commented on #179
![figure2-representation-learning](https://user-images.githubusercontent.com/15315514/151245569-96f09835-64d5-4aab-92db-f3b5a2d84711.png)

[2022-01-31 22:39] jaclyn-taroni commented on #176
I think this can be closed, so I'm going to close it. Please feel free to reopen if you disagree!

[2022-01-31 22:39] #176 closed, assigned to allaway

[2022-01-31 23:13] jaclyn-taroni commented on #182
Noting here that I dropped a sketch of some thoughts in the InVision Freehand to the right of the transfer learning sketches, figures, etc.

[2022-02-01 19:34] jaybee84 commented on #180
@dvenprasad dropped a rough sketch in invisonapp

[2022-02-09 21:36] #174 closed, assigned to jaclyn-taroni

[2022-02-23 21:54] #27 closed

[2022-02-23 21:55] allaway commented on #40
Closing this - no clear action item and trying to improve my issue sanitization/cleanup :)

[2022-02-23 21:55] #40 closed, assigned to nobody

[2022-03-19 00:24] jaybee84 commented on #181
@dvenprasad Can you please add the new figure to the repo?

[2022-03-19 00:24] jaybee84 commented on #182
@dvenprasad can you please add the new figure to the repo?

[2022-03-19 00:25] #175 closed, assigned to jaybee84

[2022-03-21 16:03] dvenprasad commented on #182
I think we're still iterating on this. But this is what we have so far.
![fig-5](https://user-images.githubusercontent.com/15315514/159301588-084c4ae8-0668-4395-9e26-68e2960ff7f7.png)

[2022-03-22 21:32] jaybee84 opened #205 "Round Robin 2022"
The manuscript is ready for another round of edits. Note: Figure 3 and Fig 5 are still WIP and the old version is still present in the text.

Order of Round Robin: (Please tag the next person in line for review of your edits in the PR)
@allaway
@jaclyn-taroni
@jaybee84

[2022-04-06 20:19] jaybee84 commented on #205
just keeping with the review flow :)

[2022-04-27 17:08] allaway commented on #205
I think after my PR is merged, @cgreene is up? :)

[2022-05-10 23:16] #197 closed, assigned to dvenprasad

[2022-05-10 23:16] #186 closed, assigned to dvenprasad

[2022-05-10 23:16] #179 closed, assigned to dvenprasad, jaybee84, jaclyn-taroni, allaway

[2022-05-10 23:17] #180 closed, assigned to dvenprasad

[2022-05-10 23:17] #181 closed, assigned to dvenprasad, jaybee84, jaclyn-taroni, allaway

[2022-05-10 23:17] #182 closed, assigned to jaclyn-taroni

[2022-05-10 23:18] #177 closed, assigned to jaclyn-taroni

[2022-05-10 23:18] jaybee84 opened #212 "Review figure legends for the all figures"

[2022-05-11 20:42] allaway opened #213 "Figure 4 -> Figure 4 and Figure 5"
As discussed in meeting on May 11, Figure 4 as it currently exists is a bit difficult to read in the rendered pdf. We came to the conclusion that we should split it into 2 figures: Figure 4ab -> Figure 4, Figure 4cde -> Figure 5.

I think that reorienting it so what is currently a/b panels are on top of one another rather than side by side (and similar for c/d/e) should also make the figure a bit

[2022-05-11 20:42] allaway commented on #213
@dvenprasad if you want to make these changes and then reassign to me I'm happy to tackle the manuscript renumbering and legend adjustment.

[2022-05-18 20:42] #213 closed, assigned to allaway

[2022-05-18 20:44] jaybee84 commented on #195
@allaway did you get a chance to add this?

[2022-05-18 20:44] #173 closed, assigned to jaclyn-taroni

[2022-05-18 20:45] #178 closed, assigned to dvenprasad, jaybee84, allaway

[2022-05-25 17:53] allaway commented on #195
Resolved by #215

[2022-05-25 17:53] #195 closed, assigned to allaway

[2022-06-13 22:52] #212 closed, assigned to jaybee84

[2022-07-05 17:04] jaybee84 commented on #205
Hi @cgreene,

We have finished revising the manuscript according to the reviewer feedback from the last submission and are waiting for your review. Specifically the revisions aim to:
1. reach our target audience who are researchers in the rare disease domain who intend to develop solutions to meet the next generation of challenges in this space.
2. revise the introduction to expand upon the need f

[2022-07-05 17:06] jaybee84 opened #218 "Figures too large for text"
Hi @dvenprasad, can you please add resized figures so that they render better [alongside the text](https://jaybee84.github.io/ml-in-rd/)?

[2022-07-06 13:57] dvenprasad commented on #218
Okay will resize.

Note for me:

[2022-07-08 21:28] dvenprasad commented on #218
Figures 1 and 2 aren't rendered on the link. Is that expected?

[2022-08-17 20:45] dvenprasad opened #220 "Update figure 1b"
Add a unique shape for each of the chunks to represent a different dataset/study.

[2022-08-22 18:28] dvenprasad commented on #220
![figure-1-combining-datasets-shapes](https://user-images.githubusercontent.com/15315514/185992771-f2ba7f34-97ef-4774-b98c-0a3b44199545.png)

Added shapes

[2022-08-25 12:53] #220 closed, assigned to dvenprasad